html,
body {
    margin: 0%;
    padding: 0%;
    font-size: 14px;
    background-color: #f6f6f6;
    position: relative;
    width: 100%;
    height: 100%;
}

.left_div {
    position: absolute;
    left: 0%;
    top: 0%;
    display: inline-block;
    width: 200px;
    height: 100%;
    background-color: #2b2f3e;
    text-align: center;
}

.left_div>span {
    font-size: 50px;
    color: #7a7e8a;
    margin: 20px 0;
    display: inline-block;
    cursor: pointer;
    animation: move 2s;
    transition: transform 1s, color 1s;
}

.left_div>span:hover {
    color: red;
    transform: rotate(-720deg);
}

@keyframes move {
    from {
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    to {
        transform: rotate(360deg) scale(1, 1);
    }
}

ul {
    list-style: none;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

li a {
    display: block;
    text-decoration: none;
    color: #7a7e8a;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 10px 0;
}

li a:hover,
.acives {
    background-color: #b33d3d;
    color: white;
    transition: .7s;
}

.right_div {
    margin-left: 200px;
    height: 100%;
    background: #f6f6f6;
    text-align: center;
    position: relative;
}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0%;
}

.float_tip {
    width: 100%;
    height: 120px;
    background: transparent;
    position: absolute;
    right: 0%;
    bottom:20px;
    z-index: 10;
    text-align: center;
    display: none;
}

.fly_cont{
    display: inline-block;
    width: 95%;
    background: white;
    height: 100%;
    box-shadow:gray 0 0 10px;
}
.fly_cont>p {
    padding: 5px 0 5px 20px;
    font-size: 18px;
    text-align: left;
    background: #d2d1d1;
    color: #409EFF;
    font-weight: bold;
}