html,
body {
    margin: 0%;
    padding: 0%;
    font-size: 14px;
    background-color: #f6f6f6;
    position: relative;
    width: 100%;
    height: 100%;
}

.left_div {
    position: absolute;
    left: 0%;
    top: 0%;
    display: inline-block;
    width: 200px;
    height: 100%;
    background-color: #2b2f3e;
    text-align: center;
}

.left_div>span {
    font-size: 50px;
    color: #7a7e8a;
    margin: 20px 0;
    display: inline-block;
    animation: move 2s;
    transition: transform 1s, color 1s;
}

.left_div>span:hover {
    transform: rotate(-720deg);
}

@keyframes move {
    from {
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    to {
        transform: rotate(360deg) scale(1, 1);
    }
}

ul {
    list-style: none;
    text-align: left;
    margin: 0%;
    padding: 0%;
}

li a {
    display: block;
    text-decoration: none;
    color: #b5b5b5;
    font-weight: bold;
    padding: 10px 0 10px 45px;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    width: 100%;
}

li a::before {
    content: ' # ';
}

li a:hover,
.acives {
    color: #409EFF;
    transition: .7s;
}

.right_div {
    margin-left: 200px;
    height: 100%;
    background: #f6f6f6;
    text-align: center;
    position: relative;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0%;
}

.float_tip {
    width: 100%;
    height: 120px;
    background: transparent;
    position: absolute;
    right: 0%;
    bottom: 20px;
    z-index: 10;
    text-align: center;
    display: none;
}

.fly_cont {
    display: inline-block;
    width: 95%;
    background: white;
    height: 100%;
    box-shadow: gray 0 0 10px;
}

.fly_cont>p {
    padding: 5px 0 5px 20px;
    font-size: 18px;
    text-align: left;
    background: #d2d1d1;
    color: #409EFF;
    font-weight: bold;
}

ul.slide_ul>li {
    color: white;
    margin: 10px 0;
    text-align: left;
}

ul.slide_ul>li>div {
    padding: 6px 15px;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

img.top_img {
    width: 28px;
    margin-right: 7px;
    visibility: middle;
}

span.top_span {
    width: 120px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #f1f1f1;
}

li>ul {
    display: none;
}