table {
    width: 100%;
    text-align: center;
    /* 合并多余线条 */
    border-collapse: collapse;
    border-spacing: 0;
  }

  tr td,
  tr th {
    padding: 12px 0;
    border: 1px solid #e6eaf3;
  }

  .host {
    margin-left: 200px;
    height: 100%;
    position: relative;
  }

  .backcolor {
    background: #f7faff;
  }

  tr:hover {
    background: #f5f7fa;
  }

  .top_div {
    padding: 15px 20px;
  }

  .inner_input {
    padding: 7px 25px 7px 10px;
    border: 1px solid #ccc;
    outline: none;
  }

  input.inner_input:focus {
    transition: .5s;
    border: 1px solid #409EFF;
    color: red;
  }

  button {
    padding: 6px 12px;
    background: #409EFF;
    color: white;
    border: 1px solid #409EFF;
    cursor: pointer;
    outline: none;
  }

  button:hover {
    border: 1px solid #66b1ff;
    background: #66b1ff;
  }

  .input_content>img {
    width: 16px;
    position: absolute;
    right: 5px;
    bottom: 7px;
    display: none;
    cursor: pointer;
  }

  .input_content {
    display: inline-block;
    width: auto;
    position: relative;
  }

  .error_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgba(0, 0, 0, 0.5);
    display: none;
  }

  .err_info {
    background: transparent;
    border-radius: 5px;
    width: 400px;
    height: 200px;
    position: absolute;
    left: 40%;
    top: 30%;
    text-align: center;
  }

  .err_info>p {
    color: whitesmoke;
    font-size: 20px;
    animation: tips 2s infinite alternate;
    position: relative;
  }

  @keyframes tips {
    from {
      top: 0px;
    }

    to {
      top: 160px;
    }
  }