body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0%;
    font-size: 14px;
}

a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: #304455;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul {
    padding: 0%;
    margin: 0%;
    list-style: none;
}

ul.mast {
    padding: 12px 0;
}

ul li {
    margin: 10px 15px;
    text-align: left;
    color: #304455;
}

ul li h3 {
    color: #273849;
    font-size: 16px;
}

.act_col {
    color: #42b983;
}

.fix_nav {
    position: fixed;
    top: 0%;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    z-index: 9;
}

.nav_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_content>img {
    width: 25px;
    height: 25px;
}

.left_nav {
    z-index: 9;
    position: fixed;
    margin-top: 45px;
    top: 0;
    left: 0%;
    height: 95%;
    width: 210px;
    background: #f9f9f9;
    display: none;
    overflow: scroll;
}

p,
h1,
h2,
h4,
h5,
h3,
h6 {
    margin: 0%;
}

.host {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.real_content {
    padding: 0 12px;
    position: absolute;
    top: 45px;
    left: 0;
    box-sizing: border-box;
    width: 100%;
}
